.container-geral-landing-page {
  justify-content: center;
  height: 100vh;
}

.container-landing-page {
  display: flex;
  flex-direction: column;
  /* border: 1px red solid; */
  background-color: var(--color-primary);
  /* margin: 20px 20px; */
  height: 100vh;
}

.container-geral-banner-landing-page {
  background-color: var(--color-secondary);
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px red solid; */
}

.container-banner-landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30%;
}

.title-main {
  font-size: 40px;
}

.imagem-vinho-ariki {
  width: 100%;
  height: auto;
}

.container-banner-promo img {
  width: 40%;
  /* height: 280px; */
  padding: 20px;
}

.imagem-banner-loja-fisica {
  width: 100%;
  height: auto;
}

.container-section-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* border: 1px red solid; */
}
