.container-geral-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-wine {
  padding: 20px;  
}

.container-geral-header a {
  text-decoration: none;
  color: grey;
}

.header-left {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-around;
  text-decoration: none;
  color: var(--color-secondary);
}

.header-rigth {
  border: 1px yellow solid;
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-around;
}

.cart-icon {
  width: 100%;
}

