.search-bar-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: right;
}

.invisible {
  display: none;
}

.search-button {
  background-color: transparent;
  border: 0;
  height: 2em;
}

.search-button:active {
  width: 2em;
}

.search-button:hover {
  background-color: lightgray;
  cursor: pointer;
}
