.container-section-wine-card {
  display: flex;
  /* border: 1px red solid; */
}

.container-geral-wine-card {
  display: flex;
  /* border: 1px red solid; */
}

.container-wine-card {
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px 6px;
  padding: 14px;
}

.imagem-winecard-bandeira {
  width: 15%;
  height: auto;
}

.imagem-winecard-vinho {
  width: 50%;
  height: auto;
  align-self: center;
}

.wine-name-WineCard {
  font-size: var(--font-size-xs);
  justify-content: center;
  text-align: center;
  padding: 8px;
  font-weight: bold;
  color: rgb(57, 56, 56);
  display: flex;
}

.container-wine-card-prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 1px red solid;
}
